a:link {
  color: #1098ad;
  background-color: #d8d7d7;
  margin: 20px;
  padding: 20px;
  /* display: inline-block; */
  /* display: block; */ /* it will change this element to block level element*/
}

a:visited {
  color: #101010;
}

.container {
  width: 780px;
  margin: 0 auto;
}

ol li {
  display: inline; /* it will change this element to inline level element*/
}

nav a:link:last-child {
  margin-right: 0;
} /* chaining the pseudo class */

button {
  font-size: 22px;
  padding: 20px;
  color: red;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* pseudo element */
/* ::before and ::after are pseudo elements */

nav a:link::last-letter {
  font-size: 30px;
  color: red;
}
