a:link {
  color: #1098ad;
  background-color: #d8d7d7;
  margin: 20px;
  padding: 20px;
  /* display: inline-block; */
  /* display: block; */ /* it will change this element to block level element*/
}

a:visited {
  color: #101010;
}

.container {
  width: 780px;
  margin: 0 auto;
}

ol li {
  display: inline; /* it will change this element to inline level element*/
}