.author-image {
  border: 1px solid #ccc;
  float: left;
}

.author {
  border: 1px solid #ccc;
  margin-left: 200px;
  padding-left: 10px;
}

.el {
   /* flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto; */
  /* flex-basis: 200px; */
  /* flex-grow: 1; */
}

.el--1 {
  background-color: blueviolet;
  order: 1;
  align-self: stretch;
  flex-basis: 200px;
  flex-shrink: 0;

}
.el--2 {
  background-color: orangered;
  order: -2;
  flex-grow: 1;
}
.el--3 {
  background-color: green;
  height: 150px;
  order: -1;
}
.el--4 {
  background-color: goldenrod;
  align-self: flex-start;
  /* flex-grow: 2; */
}
.el--5 {
  background-color: palevioletred;
  align-self: center;
}
.el--6 {
  background-color: steelblue;
}
.el--7 {
  background-color: yellow;
  align-self: stretch;
}
.el--8 {
  background-color: crimson;
}


.flex {
  /* STARTER */
  font-family: sans-serif;
  background-color: #ddd;
  font-size: 40px;
  margin: 40px;
  display: flex;
  align-items: center;
  /* FLEXBOX */
}

/*
   flex box properties
   - it takes the width and height of the content when you don't specify the width and height
   FLEX CONTAINER
   f - flex direction
   a - align items
   j - justify content
   a - align content
   g -flex gap
   f - flex wrap

    FLEX ITEM
    b - flex basis
    o - order
    g - flex grow
    a - align self
    s - flex shrink
    
 */
 .container {
  margin: 0 auto;
  width: 90%;
 }

 .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(128, 212, 243);
  background-color: #ebebeb;
 }

 .main-header nav a {
  color: rgb(128, 212, 243);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
 }

 .author-box {
  display: flex;
  align-items: center;
 }

 .author {
  margin-left: 15px;
 }

 article {
 }

 aside {
  background-color: #e8e8e8;
  margin-top: 2rem;
 }

 aside ul {
  list-style: none;
 }

 aside ul li {
  border-bottom: 1px solid #ccc;
  font-size: 1.5rem;
 }

 .related {

 }

 .article-aside {
  display: flex;
 }