.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        width: 7rem;
        height: 7rem;
        position: fixed;
        right: 6rem;
        top: 6rem;
        border-radius: 50%;
        z-index: 4;
    }

    &__background {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1;
        transform: scale(40);
    }

    &__nav {
        position: fixed;
        height: 100vh;
        width: 100%;
        z-index: 2;
    }

    &__list {
        @include centerposition;
        list-style: none;
        text-align: center;
    }

    &__item {

    }

    &__link {

    }
}