.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        width: 7rem;
        height: 7rem;
        position: fixed;
        right: 6rem;
        top: 6rem;
        border-radius: 50%;
        z-index: 4;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        cursor: pointer;
    }

    &__background {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1;
        // transform: scale(50);
    }

    &__nav {
        position: fixed;
        height: 100vh;
        z-index: 2;
        opacity: 0;
        width: 0;
    }

    &__list {
        @include centerposition;
        list-style: none;
        text-align: center;
    }

    &__item {

    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%;
            transition: all .7s;
            backface-visibility: hidden;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        transform: scale(80);
    }
}