* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #e67e22;
    --gray-color: #555;
    --second-gray: #333;
}

html {
    font-family:  sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #555;
    /* 
    10px / 16px = 0.625 = 62.5%
    Percentage of user's browser font size setting
    */
    font-size: 62.5%;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 130rem;
    margin: 0 auto;
}

.hero-img {
    width: 100%;
}

.heading-primary {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.1;
    color: var(--second-gray);
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}