* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #e67e22; 
}

html {
    font-family:  sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #555;
    /* 
    10px / 16px = 0.625 = 62.5%
    Percentage of user's browser font size setting
    */
}